
#nav li a{color:#333333;text-decoration:none}
#nav li a:hover{color:#006699;text-decoration:none}
#notification_li{position:relative}
#notificationContainer {
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 32px;
margin-left: -305px;
width: 350px;
z-index: 1;
display: none;
}
#nav a {
  background: none;
}

#multimenu .navbar-nav > li > .dropdown-menu {
  background: #fff;
}

.settings-dropdown {
  background: #fff;
  color: #000;
}
.navbar-nav .dropdown-menu {
  border: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
  box-shadow: none;
}

.notifications .row {
  max-width: 362px;
  margin-left: 0px;
  margin-right: 0px;
  height: 70px;
  border-top: 1px solid #ddd;
}

.notifications .row:hover {
  background: #62AFE4;
  color: #fff;
}

p.notification {
  /*line-height: .5em;*/
}

.message-user-av.notification {
  margin-top: 1.5%;
  margin-left: 3%;
}

.message-av.notification {
  height: 60px;
  width: 60px;
}

.message-info-preview.notification {
  margin-top: 3%;
  max-height: 70px;
}

#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent transparent;
margin-top: -20px;
margin-left: 188px;
}
#notificationTitle {
z-index: 1000;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
width: 348px;
border-bottom: 1px solid #dddddd;
}
#notificationsBody {
padding: 33px 0px 0px 0px !important;
min-height:300px;
}
#notificationFooter {
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}
#notification_count {
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
margin-left: 77px;
border-radius: 9px;
position: absolute;
margin-top: -11px;
font-size: 11px;
}

.modal-header {
  height: 70px;
}

.modal-btn {
  background: transparent;
  border: none;
}

.modal-header h3 {
  float: left;
}

.modal-header button {
  float: right;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
}

#profile-page-content {
  padding-top: 0px;
	background: #E5EAEB;
}

.profile-container {
	background: #F9FAFC;
  margin: 30px 0 0 70px;
	margin-bottom:  0px;
	padding: 0 0 3.33333333% 0;
	position: relative;
	border: 2px solid #ddd;
	border-radius: 4px;
  min-width: 705px;
  max-width: 900px;
}

.profile-header {
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;
  background: #fff;
  height: 182px;
}

.profile-name-loc-title {
  padding-left: 250px;
  padding-top: 17px;
  position: absolute;
}

.profile-user-name {
  margin: 0;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  color: #636B75;
}

.profile-user-loc {
  display: block;
  font-size: 14px;
  margin-top: -10px;
  font-style: italic;
  font-family: 'Source Sans Pro', sans-serif;
}

.profile-user-title {
	display: block;
  font-size: 14px;
  margin-top: -6px;
  font-style: italic;
  font-family: 'Source Sans Pro', sans-serif;
}

.profile-bio {
  font-weight: normal;
  font-size: 11px;
  padding: 100px 30px 0 250px;
  color: #636B75;
}

#profile-content {
	padding-top: 3.33333333%;
	padding-bottom: 3.33333333%;
}

.profile-pic {
  position: absolute;
  margin: 30px 0 0 30px;
  height: 175px;
  box-shadow: 
    0 0 0 7px #fff, 
    0 0 0 9px #ddd;
}

.send-message-btn-container {
  float: right;
  margin: 30px 30px 0 0;
}

.send-message-btn {
  background: #f3733c;
  border: none;
  border-bottom: 2px solid #b94721;
  color: #fff;
  border-radius: 2px;
  outline: 0;
}

.send-message-btn:hover {
  border-bottom: 2px solid #f3733c;
  border-top: 2px solid #fff;
  background: #f3733c;
  color: #fff;
  border-radius: 4px;
  margin-bottom: -2px;
}

.send-message-btn:focus {
	background: #f3733c;
  border-bottom: 2px solid #b94721;
  color: #fff;
}

.profile-body {
  margin: 20px 0 0 0;
  padding: 0;
}

.job-status {
  margin: -16px 0 0 250px;
  position: absolute;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}

.job-status a {
  background: none;
  color: #2C8F74;
}

.sm-profile-container {
  min-height: 150px;
  margin-top: 50px;
  border: 2px solid #ddd;
  padding: 0;
  border-radius: 3px;
  background: #fff;
  min-width: 263px
}

.sm-profile-container h6 {
  font: bold 14px Nunito, sans-serif;
  color: #fff;
  padding: 10px;
}


.skills-header {
  background: #F1B165;
  box-shadow: 0 0 0 2px #F1B165;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 40px;
}

.interests-header {
  background: #2C8F74;
  height: 40px;
  box-shadow: 0 0 0 2px #2C8F74;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.trait-content {
  padding: 10px;
}

.user-trait {
  background: #eee;
  display: inline-block;
  color: #656565;
  font: 11px Nunito, sans-serif;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 5px 0 0 5px;
}

.a-header {
  background: black;
  height: 40px;
  box-shadow: 0 0 0 2px black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.b-header {
  background: black;
  height: 40px;
  box-shadow: 0 0 0 2px black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.experience-container {
  height: 150px;
  margin-top: 50px;
  border: 2px solid #ddd;
  padding: 0;
  border-radius: 3px;
  background: #fff;
  max-width: 63.33333%;
  min-width: 546px;
}

.separation-left {
  max-width: 30%;
  margin-left: 1.666666%;
}

.separation-right {
  max-width: 30%;
  margin-right: 1.666666%;
}

.experience-header {
  background: #4792CD;
  height: 40px;
  box-shadow: 0 0 0 2px #4792CD;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.experience-header h6 {
  font: bold 14px Nunito, sans-serif;
  color: #fff;
  padding: 10px;
}

.center-me {
  margin: 0 auto;
  margin-left: 7%;
}

