
  <div class="wrapper message-view">

    <header class="header">
      <div id="multimenu" class="menu-wrapper">
        <nav class="navbar yamm navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
              </button>
              <a class="navbar-brand" href="#"><img class="img-responsive nav-logo" src="http://piqueapp.github.io/assets/img/av.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="head-font" class="nav navbar-nav navbar-left">
                <li><a href="#">People</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>                      
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a><img src="../../../app/assets/images/circle-plus.png"></a></li>
                <li><a><img src="../../../app/assets/images/speech.png"></a></li>
                <li><a><img src="../../../app/assets/images/check.png"></a></li>
                <li><a><img src="../../../app/assets/images/settings.png"></a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
      </div><!-- end menu-wrapper -->

    </header><!-- end header -->

    <section id="discover-projects-page-content" class="clearfix">


      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right activity-feed">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 activity-item-container">

        
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left activity-element">2 hours ago</div>
            <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 pull-right activity-element">Go to project</div>

            <img class="col-xs-4 col-sm-4 col-md-4 col-lg-4 activity-element" src="http://piqueapp.github.io/assets/img/av.png" alt="profile-pic">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 activity-item-description">Julie went to the store. The store got robbed while she was there. Lying on the floor, she wondered why her cat was burping all the time.</div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 pull-left activity-element">
              <ul class="list-unstyled list-inline">
                <li>Like</li>
                <li>Comment</li>
                <li>Share</li>
              </ul>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 activity-element pull-right">
              <ul class="list-unstyled list-inline">
                <li>25</li>
                <li>10</li>
                <li>2</li>
              </ul>
            </div>

        </div>
      </div>


      <div class="col-xs-8 col-sm-8 col-md-8">
      </div>

    </section>

  


  <section id="footer" class="col-xs-12 col-sm-12 col-md-12">
    
    <div class="footer-lists">
      <div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1">
        <h6 class="footer-list">ABOUT US</h6>
        <ul class="list-unstyled">
          <li><a href="#">What is Pique?</a></li>
          <li><a href="#">The Team</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      
      <div class="col-xs-2 col-sm-2 col-md-2">
        <h6 class="footer-list">HELP</h6>
        <ul class="list-unstyled">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Our Rules</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Terms of Use</a></li>
        </ul>
      </div>
      
      <div class="col-xs-4 col-sm-4 col-md-4">
        <h6 class="footer-list">DISCOVER</h6>
        <ul class="col-xs-2 col-sm-2 col-md-2 discover-left list-unstyled">
          <li><a href="#">Art</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Fashion</a></li>
        </ul>
        <ul class="col-xs-2 col-sm-2 col-md-2 discover-right list-unstyled">
          <li><a href="#">Lifestyle</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Publishing</a></li>
          <li><a href="#">Technology</a></li>
        </ul>
      </div>


      <div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1">
        <h6 class="footer-list">CONNECT</h6>
        <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Pinterest</a></li>
        </ul>
      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 footer-icon">
      <hr>
      <h6>PIQUE</h6>
      <p>&copy; 2015 Pique Inc.</p>
    </div>

    


  </section>

</div>
    