
	<div class="wrapper message-view">

	  <header class="header">
	    <div id="multimenu" class="menu-wrapper">
	      <nav class="navbar yamm navbar-default" role="navigation">
	        <div class="container-fluid">
	          <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	              <span class="sr-only">Toggle navigation</span>
		            <span class="fa fa-bars"></span>
	            </button>
	            <a class="navbar-brand" href="#"><img class="img-responsive nav-logo" src="http://piqueapp.github.io/assets/img/av.png"></a>
	          </div>
	          <div id="navbar" class="navbar-collapse collapse">
	            <ul id="head-font" class="nav navbar-nav navbar-left">
	              <li><a href="#">People</a></li>
	              <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>                      
	            </ul>
              <ul id="nav" class="nav navbar-nav navbar-right">
                <li><a><img src="../assets/circle-plus.png"></a></li>
                <li><a><img src="../assets/speech.png"></a></li>
                <li id="notification_li">
                  <a href="#" id="notificationLink">
                    <img src="../assets/check.png">
                  </a>
                  <div id="notificationContainer" class="clearfix">
                    <div id="notificationTitle">Notifications</div>
                      <div id="notificationsBody" class="notifications"> 
                        <div class="row">
                          <div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 message-user-av notification">
                            <img class="img-responsive message-av notification" src="http://pique.nyc/assets/img/av.png">
                          </div>
                          <div class="col-xs-7 col-sm-7 col-md-7 message-info-preview notification">
                            <p><strong class="preview-username notification">Tom Jones</strong> We need to talk about bagels.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 message-user-av notification">
                            <img class="img-responsive message-av notification" src="http://pique.nyc/assets/img/av.png">
                          </div>
                          <div class="col-sm-7 col-md-7 message-info-preview notification">
                            <p><strong class="preview-username notification">Nick Nolte</strong> I think I killed someone last night.</p>
                          </div>
                        </div>
                      </div>
                    <div id="notificationFooter"><a href="#">See All</a></div>
                  </div>
                </li>
                <li><a><img src="../assets/settings.png"></a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
      </div><!-- end menu-wrapper -->
    </header><!-- end header -->

    <section id="discover-profiles-page-content" class="clearfix">

      <div class="container-fluid">

        <div class="row discover-profiles-content">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right activity-feed">
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 discover-profiles-container">


              <div class="discover-profiles-header">
                  <h1>DISCOVER PEOPLE TO WORK WITH</h1>
                  <h3>Use the filters below to find the perfect match.</h3>
              </div>
              
              <div class="profile-type-container">   
                <table>
                  <tr>
                    <td><a href="#">MARKETING MANAGERS</a></td>
                    <td><a href="#">FRONT-END</a></td>
                    <td><a href="#">PRODUCT MANAGERS</a></td>
                  </tr>
                  <tr>
                    <td><a href="#">DESIGNERS</a></td>
                    <td><a href="#">FULL-STACK</a></td>
                    <td><a href="#">STRATEGISTS</a></td>
                  </tr>
                </table>
              </div>

              <div class="recommended-profiles-header">
                <h2>Recommended for you</h2>
                <hr>
              </div>

              <div class="row filter-profiles-row">
                <div class="col-xs-3 col-sm-3 col-md-3 filter-profiles-input">
                  <select class="form-control">
                    <option>Browse All</option>
                  </select>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 filter-profiles-input">
                  <input type="text" placeholder="Skills" class="form-control">
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 filter-profiles-input">
                  <input type="text" placeholder="Location" class="form-control">
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 filter-profiles-input">
                  <input type="text" placeholder="Interests" class="form-control">
                </div>
              </div>


                  
             <!-- row of two profiles-->
              <div class="row profiles-row">

                <div class="col-xs-6 col-sm-6 col-md-5 recommended-profile-right">  
                  <div class="row profile-top">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center profile-img-container">
                      <img class="img-responsive" src="http://wac.450f.edgecastcdn.net/80450F/starcrush.com/files/2012/11/nick1-1.jpg" alt="recommended profile">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 recommended-profiles-content">
                      <h5>Nick Nolte</h5>
                      <p>I don't know where I live</p>
                      <p>Mobile Web</p>
                      <span>
                        <p>University of Cambridge</p>
                        <p>Currently works at Facebook</p>
                      </span>
                    </div>
                  </div>
                  <div class="row profile-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-12 recommended-profiles-content-bottom">
                      <ul class="profile-tags-list list-unstyled">
                        <li class="profile-tag"><a href="#">Objective-C</a></li>
                        <li class="profile-tag"><a href="#">C</a></li>
                        <li class="profile-tag"><a href="#">C++</a></li>
                        <li class="profile-tag"><a href="#">C#</a></li>
                      </ul>
                      <p>Looking for work with horses etc.</p>
                    </div>
                  </div>
                </div><!-- profile-right -->
                
                <div class="col-xs-6 col-sm-6 col-md-5 recommended-profile-left">
                  <div class="row profile-top">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center profile-img-container">
                      <img class="img-responsive" src="http://wac.450f.edgecastcdn.net/80450F/starcrush.com/files/2012/11/nick1-1.jpg" alt="recommended profile">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 recommended-profiles-content">
                      <h5>Nick Nolte</h5>
                      <p>I don't know where I live</p>
                      <p>Mobile Web</p>
                      <span>
                        <p>University of Cambridge</p>
                        <p>Currently works at Facebook</p>
                      </span>
                    </div>
                  </div>
                  <div class="row profile-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-12 recommended-profiles-content-bottom">
                      <ul class="profile-tags-list list-unstyled">
                        <li class="profile-tag"><a href="#">Objective-C</a></li>
                        <li class="profile-tag"><a href="#">C</a></li>
                        <li class="profile-tag"><a href="#">C++</a></li>
                        <li class="profile-tag"><a href="#">C#</a></li>
                      </ul>
                      <p>Looking for work with horses etc.</p>
                    </div>
                  </div>
                </div><!-- profile-left -->

              </div><!-- row of two -->

              <div class="row profiles-row">

                <div class="col-xs-6 col-sm-6 col-md-5 recommended-profile-right">  
                  <div class="row profile-top">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center profile-img-container">
                      <img class="img-responsive" src="http://wac.450f.edgecastcdn.net/80450F/starcrush.com/files/2012/11/nick1-1.jpg" alt="recommended profile">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 recommended-profiles-content">
                      <h5>Nick Nolte</h5>
                      <p>I don't know where I live</p>
                      <p>Mobile Web</p>
                      <span>
                        <p>University of Cambridge</p>
                        <p>Currently works at Facebook</p>
                      </span>
                    </div>
                  </div>
                  <div class="row profile-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-12 recommended-profiles-content-bottom">
                      <ul class="profile-tags-list list-unstyled">
                        <li class="profile-tag"><a href="#">Objective-C</a></li>
                        <li class="profile-tag"><a href="#">C</a></li>
                        <li class="profile-tag"><a href="#">C++</a></li>
                        <li class="profile-tag"><a href="#">C#</a></li>
                      </ul>
                      <p>Looking for work with horses etc.</p>
                    </div>
                  </div>
                </div><!-- profile-right -->
                
                <div class="col-xs-6 col-sm-6 col-md-5 recommended-profile-left">
                  <div class="row profile-top">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center profile-img-container">
                      <img class="img-responsive" src="http://wac.450f.edgecastcdn.net/80450F/starcrush.com/files/2012/11/nick1-1.jpg" alt="recommended profile">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 recommended-profiles-content">
                      <h5>Nick Nolte</h5>
                      <p>I don't know where I live</p>
                      <p>Mobile Web</p>
                      <span>
                        <p>University of Cambridge</p>
                        <p>Currently works at Facebook</p>
                      </span>
                    </div>
                  </div>
                  <div class="row profile-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-12 recommended-profiles-content-bottom">
                      <ul class="profile-tags-list list-unstyled">
                        <li class="profile-tag"><a href="#">Objective-C</a></li>
                        <li class="profile-tag"><a href="#">C</a></li>
                        <li class="profile-tag"><a href="#">C++</a></li>
                        <li class="profile-tag"><a href="#">C#</a></li>
                      </ul>
                      <p>Looking for work with horses etc.</p>
                    </div>
                  </div>
                </div><!-- profile-left -->
                
              </div><!-- row of two -->

              <div class="row profiles-row">

                <div class="col-xs-6 col-sm-6 col-md-5 recommended-profile-right">  
                  <div class="row profile-top">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center profile-img-container">
                      <img class="img-responsive" src="http://wac.450f.edgecastcdn.net/80450F/starcrush.com/files/2012/11/nick1-1.jpg" alt="recommended profile">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 recommended-profiles-content">
                      <h5>Nick Nolte</h5>
                      <p>I don't know where I live</p>
                      <p>Mobile Web</p>
                      <span>
                        <p>University of Cambridge</p>
                        <p>Currently works at Facebook</p>
                      </span>
                    </div>
                  </div>
                  <div class="row profile-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-12 recommended-profiles-content-bottom">
                      <ul class="profile-tags-list list-unstyled">
                        <li class="profile-tag"><a href="#">Objective-C</a></li>
                        <li class="profile-tag"><a href="#">C</a></li>
                        <li class="profile-tag"><a href="#">C++</a></li>
                        <li class="profile-tag"><a href="#">C#</a></li>
                      </ul>
                      <p>Looking for work with horses etc.</p>
                    </div>
                  </div>
                </div><!-- profile-right -->
                
                <div class="col-xs-6 col-sm-6 col-md-5 recommended-profile-left">
                  <div class="row profile-top">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center profile-img-container">
                      <img class="img-responsive" src="http://wac.450f.edgecastcdn.net/80450F/starcrush.com/files/2012/11/nick1-1.jpg" alt="recommended profile">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 recommended-profiles-content">
                      <h5>Nick Nolte</h5>
                      <p>I don't know where I live</p>
                      <p>Mobile Web</p>
                      <span>
                        <p>University of Cambridge</p>
                        <p>Currently works at Facebook</p>
                      </span>
                    </div>
                  </div>
                  <div class="row profile-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-12 recommended-profiles-content-bottom">
                      <ul class="profile-tags-list list-unstyled">
                        <li class="profile-tag"><a href="#">Objective-C</a></li>
                        <li class="profile-tag"><a href="#">C</a></li>
                        <li class="profile-tag"><a href="#">C++</a></li>
                        <li class="profile-tag"><a href="#">C#</a></li>
                      </ul>
                      <p>Looking for work with horses etc.</p>
                    </div>
                  </div>
                </div><!-- profile-left -->
                
              </div><!-- row of two -->

            </div><!-- profiles-container -->
          </div><!-- profiles-content -->
        </div><!-- container-fluid -->

        </section>

      </div>
