
	<div class="wrapper message-view">

	  <header class="header">
	    <div id="multimenu" class="menu-wrapper">
	      <nav class="navbar yamm navbar-default" role="navigation">
	        <div class="container-fluid">
	          <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	              <span class="sr-only">Toggle navigation</span>
		            <span class="fa fa-bars"></span>
	            </button>
	            <a class="navbar-brand" href="#"><img class="img-responsive nav-logo" src="http://piqueapp.github.io/assets/img/av.png"></a>
	          </div>
	          <div id="navbar" class="navbar-collapse collapse">
	            <ul id="head-font" class="nav navbar-nav navbar-left">
	              <li><a href="#">People</a></li>
	              <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>                      
	            </ul>
              <ul id="nav" class="nav navbar-nav navbar-right">
                <li><a><img src="../assets/circle-plus.png"></a></li>
                <li><a><img src="../assets/speech.png"></a></li>
                <li id="notification_li">
                  <a href="#" id="notificationLink">
                    <img src="../assets/check.png">
                  </a>
                  <div id="notificationContainer" class="clearfix">
                    <div id="notificationTitle">Notifications</div>
                      <div id="notificationsBody" class="notifications"> 
                        <div class="row">
                          <div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 message-user-av notification">
                            <img class="img-responsive message-av notification" src="http://pique.nyc/assets/img/av.png">
                          </div>
                          <div class="col-xs-7 col-sm-7 col-md-7 message-info-preview notification">
                            <p><strong class="preview-username notification">Tom Jones</strong> We need to talk about bagels.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 message-user-av notification">
                            <img class="img-responsive message-av notification" src="http://pique.nyc/assets/img/av.png">
                          </div>
                          <div class="col-sm-7 col-md-7 message-info-preview notification">
                            <p><strong class="preview-username notification">Nick Nolte</strong> I think I killed someone last night.</p>
                          </div>
                        </div>
                      </div>
                    <div id="notificationFooter"><a href="#">See All</a></div>
                  </div>
                </li>
                <li><a><img src="../assets/settings.png"></a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
      </div><!-- end menu-wrapper -->
    </header><!-- end header -->

    <section id="discover-projects-page-content" class="clearfix">

      <div class="dashboard-btn-container">
        <button class="btn-default btn-sm dashboard-btn">DASHBOARD</button>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right activity-feed">
      </div>


      <div class="col-xs-8 col-sm-8 col-md-8 discover-projects-container">


        <div class="discover-projects-header">
            <h1>DOMO ARIGOTO MR ROBOCTOPUS</h1>
            <h3>Doo do DOOOOO doo DO do dooooooo</h3>
        </div>
        
        <div class="project-type-container">   
          <table>
            <tr>
              <td><a href="#">EDUCATION</a></td>
              <td><a href="#">FASHION</a></td>
              <td><a href="#">DESIGN</a></td>
            </tr>
            <tr>
              <td><a href="#">LIFESTYLE</a></td>
              <td><a href="#">TECH</a></td>
              <td><a href="#">PUBLISHING</a></td>
            </tr>
          </table>
        </div>




        <div class="recommended-projects-header">
          <h2>Recommended for you</h2>
          <hr class="header-hr">
        </div>

        <div class="filter-projects-container">
          <ul class="list-unstyled list-inline">
            <li class="dropdown project-filter" id="dropdown-hover">
              <button class="project-filter-drop-btn btn dropdown-toggle" data-toggle="dropdown">
                Browse: All
                <span class="caret"></span>
              </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Test</a></li>
                  <li><a href="#">Test</a></li>
                  <li><a href="#">Test</a></li>
                  <li><a href="#">Test</a></li>
                </ul>
            </li>
            <li class="btn btn-default project-filter filter-tags"><a href="#">Tags</a></li>
            <li class="btn btn-default project-filter filter-location"><a href="#">Location</a></li>
            <li class="btn btn-default project-filter filter-status"><a href="#">Status</a></li>
          </ul>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 recommended-projects-container">
          
          <div class="col-xs-4 col-sm-4 col-md-4 recommended-project">
            <img src="http://piqueapp.github.io/assets/img/av.png" alt="recommended project">
            <div class="recommended-projects-content">
              <h5>PROJECT TITLE AND MORE  </h5>
              <p>Project Description</p>
              <ul class="project-popularity-list list-unstyled ">
                <li>112 applicants</li>
                <li>567 views</li>
                <li>32 followers</li>
              </ul>
              <ul class="project-tags-list list-unstyled">
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
              </ul>
            </div>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 recommended-project">
            <img src="http://piqueapp.github.io/assets/img/av.png" alt="recommended project">
            <div class="recommended-projects-content">
              <h5>PROJECT TITLE AND MORE  </h5>
              <p>Project Description</p>
              <ul class="project-popularity-list list-unstyled ">
                <li>112 applicants</li>
                <li>567 views</li>
                <li>32 followers</li>
              </ul>
              <ul class="project-tags-list list-unstyled">
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
              </ul>
            </div>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 recommended-project">
            <img src="http://piqueapp.github.io/assets/img/av.png" alt="recommended project">
            <div class="recommended-projects-content">
              <h5>PROJECT TITLE AND MORE  </h5>
              <p>Project Description</p>
              <ul class="project-popularity-list list-unstyled ">
                <li>112 applicants</li>
                <li>567 views</li>
                <li>32 followers</li>
              </ul>
              <ul class="project-tags-list list-unstyled">
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
                <li class="project-tag"><a href="#">#WEeee</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>

  </section>

  


  <section id="footer" class="col-xs-12 col-sm-12 col-md-12">
    
    <div class="footer-lists">
      <div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1">
        <h6 class="footer-list">ABOUT US</h6>
        <ul class="list-unstyled">
          <li><a href="#">What is Pique?</a></li>
          <li><a href="#">The Team</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      
      <div class="col-xs-2 col-sm-2 col-md-2">
        <h6 class="footer-list">HELP</h6>
        <ul class="list-unstyled">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Our Rules</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Terms of Use</a></li>
        </ul>
      </div>
      
      <div class="col-xs-4 col-sm-4 col-md-4">
        <h6 class="footer-list">DISCOVER</h6>
        <ul class="col-xs-2 col-sm-2 col-md-2 discover-left list-unstyled">
          <li><a href="#">Art</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Fashion</a></li>
        </ul>
        <ul class="col-xs-2 col-sm-2 col-md-2 discover-right list-unstyled">
          <li><a href="#">Lifestyle</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Publishing</a></li>
          <li><a href="#">Technology</a></li>
        </ul>
      </div>


      <div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1">
        <h6 class="footer-list">CONNECT</h6>
        <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Pinterest</a></li>
        </ul>
      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 footer-icon">
      <hr>
      <h6>PIQUE</h6>
      <p>&copy; 2015 Pique Inc.</p>
    </div>

    


  </section>

</div>
    