<div class="container home">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-5 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 ">
      <a href="/questionnaires/new" class="btn btn-primary btn-lg">Get Started</a>
    </div>
  </div>
</div>
