<div class="container" id="home">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <img src="/images/logo.png">
        <h1>A social way to professionally network.</h1>
      </div>
    </div>
    <div id="header">
    
      <!-- SURVEY HOME -->

    </div>

  </div><!-- end home -->


    <div id="questionnaire">
      
      <!-- QUESTIONS -->

    </div><!-- end questions -->


  <div class="container" id="footer">
    <div class="row">   
      <div class="col-xs-12 col-sm-12 text-center">
        <p class="title footer">© Pique 2015. All Rights Reserved</p>
      </div>
    </div>
  </div><!-- end footer -->

  