
  <div class="wrapper message-view">

    <header class="header">
      <div id="multimenu" class="menu-wrapper">
        <nav class="navbar yamm navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
              </button>
              <a class="navbar-brand" href="#"><img class="img-responsive nav-logo" src="http://piqueapp.github.io/assets/img/av.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="head-font" class="nav navbar-nav navbar-left">
                <li><a href="#">People</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>                      
              </ul>
              <ul id="nav" class="nav navbar-nav navbar-right">
                <li><a><img src="../assets/circle-plus.png"></a></li>
                <li><a><img src="../assets/speech.png"></a></li>
                <li id="notification_li">
                  <a href="#" id="notificationLink">
                    <img src="../assets/check.png">
                  </a>
                  <div id="notificationContainer" class="clearfix">
                    <div id="notificationTitle">Notifications</div>
                      <div id="notificationsBody" class="notifications"> 
                        <div class="row">
                          <div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 message-user-av notification">
                            <img class="img-responsive message-av notification" src="http://pique.nyc/assets/img/av.png">
                          </div>
                          <div class="col-xs-7 col-sm-7 col-md-7 message-info-preview notification">
                            <p><strong class="preview-username notification">Tom Jones</strong> We need to talk about bagels.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 message-user-av notification">
                            <img class="img-responsive message-av notification" src="http://pique.nyc/assets/img/av.png">
                          </div>
                          <div class="col-xs-7 col-sm-7 col-md-7 message-info-preview notification">
                            <p><strong class="preview-username notification">Nick Nolte</strong> I think I killed someone last night.</p>
                          </div>
                        </div>
                      </div>
                    <div id="notificationFooter"><a href="#">See All</a></div>
                  </div>
                </li>
                <li><a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      <img src="../assets/settings.png">
                    </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li class="settings-dropdown" role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Profile</a></li>
                    <li class="settings-dropdown" role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
      </div><!-- end menu-wrapper -->
    </header><!-- end header -->

    <section id="profile-page-content">


      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right activity-feed">
      </div>

      <!-- <div id="profile-content" class="col-md-10 col-sm-10 col-xs-10"> -->

      <div class="col-xs-8 col-sm-8 col-md-8 profile-container">

        <div class="profile-header user-notifications">

          
            <h3 class="profile-user-name">Your notifications</h3>
            
          </div>

        




        <div class="container profile-body">
          <div class="row user-notifications">
            <div class="col-md-12 col-sm-12">
              <p><strong>Al Roker </strong>just shot a bear.</p>
            </div>
          </div>
          <div class="row user-notifications">
            <div class="col-md-12 col-sm-12">
              <p><strong>Al Roker </strong>just shot a bear.</p>
            </div>
          </div>
          <div class="row user-notifications">
            <div class="col-md-12 col-sm-12">
              <p><strong>Al Roker </strong>just shot a bear.</p>
            </div>
          </div>
          <div class="row user-notifications">
            <div class="col-md-12 col-sm-12">
              <p><strong>Al Roker </strong>just shot a bear.</p>
            </div>
          </div>
          <div class="row user-notifications">
            <div class="col-md-12 col-sm-12">
              <p><strong>Al Roker </strong>just shot a bear.</p>
            </div>
          </div>        
      </div>
    </div>

    </section>

</div>
       
<div class="modal fade model-container" id="profile-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-default modal-btn" data-dismiss="modal"><i class="fa fa-times fa-2x"></i></button>
        <h3>Send Message</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
                <label>SUBJECT</label>
                <input type="text" class="form-control input-lg">
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control input-lg"></textarea>
              </div>
              <div class="form-group">
                <button class="btn-default btn-lg send-message-btn">Send Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->