
.create-project-page {
  background: #EBEFF2;
}

.wrapper {
  background: #fff;
}

hr.hr-style {
  border-color: #ddd;
  border-bottom: 1px solid #ddd;
}

.create-project-container {
  background: #fff;
  margin: 30px 0 0 70px;
  margin-bottom:  0px;
  padding: 0 0 3.33333333% 0;
  position: relative;
  border: 2px solid #ddd;
  border-radius: 4px;
  min-width: 705px;
  max-width: 900px;
}


.create-project-container h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #636B75;
}

.create-project-header {
  padding: 10px 30px 0 30px;
}


.create-project-steps-container {
  display: inline-block;
  margin-left: 35px;
}

.create-project-steps-container li {
  border: 2px solid #ddd;
  padding: 10px 20px;
}

.caret-right {
	  color: black;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid;
    display: inline-block;
    height: 0;
    opacity: 0.4;
    vertical-align: middle;
    width: 0;
    margin: 0 10px;
}

.blue-step {
  background: #2C93CD;
  color: #fff;
}

.green-step {
  background: #129075;
  color: #fff;
}

.form-container {
  margin: 30px;
  width: 1000px;
  clear: both;
}


#create-project-form p {
  vertical-align: top;
  margin-bottom: 20px;
}

#create-project-form label {
  width: 147px;
  margin: 0;

}

.create-project-form-item {
  margin-top: 20px;
}

#create-project-form input, select, textarea, .add-project-logo-container-form {
  width: 400px;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 2px;
  clear: both;
  background: #fff;
  vertical-align: top;
  padding: 5px 10px 5px 10px;
}

#create-project-form select {
  height: 50px;
}

#create-project-form textarea {
  height: 74px;
}

#create-project-form ul {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}

#create-project-form .skill-item-link {
  padding: 3px 5px;
  border-radius: 2px;
  background: #EBEFF3;
  color: #9B9B9F;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 10px;
}

#create-project-form .skill-item-link.active-skill {
  background: #129075;
  color: #fff;
}


#create-project-form .create-project-btn-container {
	position: relative;
	color: #fff;
	text-align: center;
}

#create-project-form .create-project-btn {
  padding: 5px 20px;
  background: #f3733c;
  border: none;
  border-bottom: 2px solid #b94721;
  border-radius: 2px;
  outline: 0;
  width: 100px;
}

#create-project-form .create-project-btn:hover {
  border-bottom: 2px solid #f3733c;
  color: #fff;
  border-radius: 2px;
  margin-bottom: -2px;
  margin-top: 2px;
}

#create-project-form .create-project-btn:focus {
	background: #f3733c;
  border-bottom: 2px solid #b94721;
  color: #fff;
}


.mandatory-fields {
  color: #2C93CD;
  font-size: 12px;
  margin: 15px 0 0 150px;
}




/*p2*/

.add-project-logo-container-form {
  display: inline-block;
}

.add-project-logo-box-form {
  height: 120px;
  width: 120px;
  margin: 5px auto 5px auto;
  background: #F9FAFC;
  border: 2px solid #ddd;
  border-radius: 2px;
  font: italic 14px 'Source Sans Pro', sans-serif;
  color: #ddd;
  text-align: center;
  border: none
}

.add-project-logo-box-form img {
  margin-top: 35px;
  margin-bottom: 10px;
}


/*p3*/

.add-new-position-to-project {
  margin: 20px 0 0 150px;
}
.add-new-position-to-project a {
  color: #2C93CD;
}


/*edit project*/

#logo-div {
  height: 100px;
  width: 100px;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  background: none;
  color: #2C93CD;
  border: none;
  text-shadow: none;
  border-color: none;
  font-family: 'Nunito', sans-serif;
}

.fileUpload:hover {
  background: none;
  border: none;
  border-color: none;
  color: #2C93CD;
  font-family: 'Nunito', sans-serif;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  border-color: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  background: none;
  filter: alpha(opacity=0);
}

.fileUpload input.upload:hover {
  background: none;
  color: #2C93CD;
}

label#cant-see {
  visibility: hidden;
}

form#create-project-form fieldset p input.half-input {
  width: 200px;
}

#create-project-form .create-project-btn.delete-btn {
  background: #C4C5C5;
  border: none;
}