@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src:url('http://lethalsilicon.com/resources/fonts/codropsicons/codropsicons.eot');
  src:url('http://lethalsilicon.com/resources/fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
   url('http://lethalsilicon.com/resources/fonts/codropsicons/codropsicons.woff') format('woff'),
   url('http://lethalsilicon.com/resources/fonts/codropsicons/codropsicons.ttf') format('truetype'),
   url('http://lethalsilicon.com/resources/fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
  background: #4C94C4;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Lato', Arial, sans-serif;
}

a, button {
  outline: none;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover, a:focus {
  color: #333;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}


#surv-landing {
  height: 100vh;
}

#surv-header-col {
  background: url('https://s3.amazonaws.com/arcb_project/1521020400/59280/3.jpg');
  height: 550px;
  color: #fff;
  background-color: #a3a3a3;
  opacity: .9;
}

#surv-header-col h1 {
  margin-top: 26%;
  font-family: 'Nunito';
}

#surv-question-header {
  padding: 50px;
}

h2 {
  padding-bottom: 40px;
}

.row {
  height: 100vh;
}

ul#questions-list {
  padding-left: 0px;
}

ul#questions-list li {
  display: inline-block;
}

li.surv-question {
  margin: 20px;
}

.surv-question { 
  height: 200px;
  width: 200px;
}

#footer {
  margin-top: 100px;
  padding: 50px 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  position: relative;
  display: block;
}

#footer {
  z-index: 5;
}

p.title:before {
    right: 1.5em;
    margin-left: -50%;
}
p.title:after {
    left: 1.5em;
    margin-right: -50%;
}

p.title.sub:before,
p.title.sub:after {
    background-color: #647278;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 26%;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.surv-padding {
  width: 200px;
  height: 200px;
  background: url('white_carbon_@2X.png');
}


/* Common style */
.grid {
  margin: auto;
  max-width: 250px;
}

.grid a {
  float: left;
  color: #fff;
}

.grid a:nth-child(odd) {
  margin: 30px 0 -30px 0;
}

.grid figure {
  position: relative;
  overflow: hidden;
  margin: 5px;
  background: url('white_carbon_@2X.png');
}

.grid figure figcaption h2 {
  color: #FCFCFC;
  font-size: 20px;
}

.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.grid figcaption {
  position: absolute;
  top: 0;
  z-index: 11;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.grid figcaption h2 {
  margin: 0 0 20px 0;
  color: #FCFCFC;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 130%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.grid figcaption p {
  padding: 0 20px;
  color: #aaa;
  font-weight: 300;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.grid figure button {
  position: absolute;
  padding: 4px 20px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style for SVG */
.grid svg {
  position: absolute;
  top: -1px; /* fixes rendering issue in FF */
  z-index: 10;
  margin-left: -200px;
  width: 100%;
  height: 100%;
}

.grid svg path {
  fill: #4C94C4;
}

/* Hover effects */
.grid a:hover figure img {
  opacity: 1;
}

.grid a:hover figcaption h2,
.grid a:hover figcaption p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.grid a:hover figcaption p {
  opacity: 0;
}

/* Individual styles */

body {
  background: #4C94C4;
}

.grid figcaption h2 {
  color: #4C94C4;
}

.grid figcaption p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.grid figure button {
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background: #fff;
  color: #333;
  font-weight: 300;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.grid a:hover figure button {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.grid figcaption h2, 
.grid figcaption p{
  -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
  timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
}

.grid a:hover figcaption p{
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

/* Media Queries */
/* Let's redefine the width of each anchor and the margins */

@media screen and (max-width: 58em) {
  .grid a {
   max-width: 250px;
  }

  .grid a:nth-child(odd) {
   margin: 0;
  }

  .grid a:nth-child(3n-1) {
   margin: 30px 0 -30px 0;
  }
}

@media screen and (max-width: 45em) {
  .grid {
   max-width: 250px;
  }

  .grid a {
   width: 100%;
  }

  .grid a:nth-child(3n-1) {
   margin: 0;
  }

  .grid a:nth-child(even) {
   margin: 30px 0 -30px 0;
  }


  .grid figcaption h2 {
   margin-bottom: 0px;
   -webkit-transform: translateY(30px);
   transform: translateY(30px);
  }

  .grid figcaption p {
   margin: 0;
   padding: 0 10px;
  }
}

@media screen and (max-width: 27em) {
  .grid {
   max-width: 250px;
  }

  .grid a {
   width: 100%;
  }

  .grid a:nth-child(even) {
   margin: 0;
  }
}




